* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.track-list-section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  background-color: red;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  opacity: 0;
  position: fixed;
  top: 1500px;
  transition: 500ms ease;
}

.track-list-section-active {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  background-color: red;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: 500ms ease;
}

.img-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
}

.track-name-list {
  font-size: 2.5rem;
}

.track-list-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  background-color: black;
  cursor: pointer;
}
.track-list-info:hover {
  background-color: white;
  color: black;
}

.track-name {
  width: 100%;
  height: 100%;
}

.track-time {
  display: flex;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.track-img-large{
  width: 512px;
  height: 512px;
  border-radius: 24px;

}

.audio-control-wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: absolute;
}

.track-info {
  margin-left: 20px;
  margin-top: 20px;
}

.track-info > h1{
  padding: 0;
  margin: 0;
}

.audio-controls {
  display: flex;
  align-items: center;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdfdf;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
}

.action-btn:hover {
  color: black;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e5e5cb68;
  margin-top: 0;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: coral;
  width: 0;
  transition: width 0.3s ease;
}







