/* styles.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent vertical scroll on body */
}

.gallery-container {
  height: 100vh; /* Full height of the viewport */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.gallery {
  display: flex; /* Use flexbox for horizontal layout */ /* Fixed height for images */

  overflow-x: auto; /* Enable horizontal scrolling */
}

.gallery img {
  width: 20vw;
  height: 100vh;
  object-fit: cover;
  margin-right: 10px; /* Space between images */
}