@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Chivo Mono", monospace;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

.nav-section {
    width: 3em;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 10;
}

.nav-container {
    padding: 0;
}

.nav-container ul {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
    display: block;
    writing-mode: vertical-rl;
    padding: 30px 0;
    line-height: 3em;
    color: black;
}

.list a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.project-1-info {
    padding: 2em 4em 2em 2em;
    color: white;
    width: 50%;
}

.project-1-container {
    padding: 2em 4em 2em 2em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}


.container1 {
    width: 40%;
    font-size: 1.2rem;
}

.container2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.video-container {
    width: 100%;
}

.img-large {
    width: 100%;
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

.img-small {
    width: 18.75rem;
    aspect-ratio: 16 / 9;
}

.img-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.credit-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.credit-details {
    padding-top: 5px;
}

.project-1-img-container {
    padding: 2em 4em 2em 2em;
    width: 100vw;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-large-2 {
    width: 100%;
    height: auto;
}

.img-small-2 {
    width: 30%;
    height: auto;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 1310px) {
    .project-1-info {
        padding: 2em 4em 0em 2em;
        color: white;
        width: 100%;
    }
    .project-1-container {
        flex-direction: column;
    }
    .img-small {
        width: 100%;
    }
}
