@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  cursor: url("https://freight.cargo.site/t/original/i/591667f1873c9e075d94c049a99631c0e5464975b8fbadcaa5891eda1b2dff5b/Rectangle-1.png"),
    auto !important;
}

body {
  background-color: black;
  overflow: hidden;
}

/* Nav section */

.nav-section {
  width: 3em;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  z-index: 10;
}

.nav-container {
  padding: 0;
  margin: 0;
  float: right;
}

.nav-container ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  display: block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px 0 30px 0;
  line-height: 3em;
  color: black;
}

.list a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading {
  font-size: 2em;
  font-weight: 400;
}

.sub-heading {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.about-section {
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 2rem;
}

.about-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 50vh;
}

.about-info, .contact-info {
  width: 50%;
  height: 50vh;
  padding: 1em;
}

.contact-info a {
  text-decoration: none;
  color: white;
}

.contact-info i {
  margin-right: 5px;
  font-size: 0.7em;
}

#video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.text {
  color: white;
}
